<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cartTest</td>
<td>cart </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginTest</td>
<td>logIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>menuTest</td>
<td>menu </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cartSetup</td>
<td>cart </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>logIn menu </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>logIn menu cart </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
