<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94f07b">  <td>23/05/31 00:05:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.cartSetup()[pri:0, instance:tests.Tests@55b699ef]">&gt;&gt;cartSetup</td> 
<td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="b7fcb4">  <td>23/05/31 00:06:10</td>   <td>10441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.cartTest()[pri:0, instance:tests.Tests@55b699ef]">cartTest</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="94f07b">  <td>23/05/31 00:06:06</td>   <td>6635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.setup()[pri:0, instance:tests.Tests@55b699ef]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="94f07b">  <td>23/05/31 00:06:10</td>   <td>10451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@55b699ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
