<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cart</td><td>Tests.cartTest()[pri:0, instance:tests.Tests@3eb25e1a]<br/></td></tr>
<tr><td>logIn</td><td>Tests.loginTest(java.util.HashMap)[pri:0, instance:tests.Tests@799f10e1]<br/></td></tr>
<tr><td>menu</td><td>Tests.menuTest()[pri:0, instance:tests.Tests@799f10e1]<br/></td></tr>
</table>
