<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.setup()[pri:0, instance:tests.Tests@799f10e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>23/05/31 00:14:30</td>   <td>-2172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.loginTest(java.util.HashMap)[pri:0, instance:tests.Tests@799f10e1]">loginTest</td> 
  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.setup()[pri:0, instance:tests.Tests@799f10e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:57</td>   <td>24941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@799f10e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:57</td>   <td>24941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@799f10e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.setup()[pri:0, instance:tests.Tests@799f10e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>23/05/31 00:14:30</td>   <td>-2172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.loginTest(java.util.HashMap)[pri:0, instance:tests.Tests@799f10e1]">loginTest</td> 
  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.setup()[pri:0, instance:tests.Tests@799f10e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>23/05/31 00:14:30</td>   <td>-2172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.loginTest(java.util.HashMap)[pri:0, instance:tests.Tests@799f10e1]">loginTest</td> 
  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:57</td>   <td>24941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@799f10e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>23/05/31 00:14:37</td>   <td>5183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.menuTest()[pri:0, instance:tests.Tests@799f10e1]">menuTest</td> 
  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:57</td>   <td>24941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@799f10e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1437654187</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:06</td>   <td>-26237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.cartSetup()[pri:0, instance:tests.Tests@3eb25e1a]">&gt;&gt;cartSetup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@590646109</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>23/05/31 00:14:16</td>   <td>-15968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.cartTest()[pri:0, instance:tests.Tests@3eb25e1a]">cartTest</td> 
  <td>TestNG-tests-2@590646109</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>23/05/31 00:14:16</td>   <td>-15684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:tests.Tests@3eb25e1a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@590646109</td>   <td></td> </tr>
</table>
